/* ### Blueprint output */

.bpbox {
    /*width: 200px;*/
    padding: 5px;
    margin-top: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #6DA6C7 0, #1B71A3 100%);
    border-color: #124B6B;
    display: flex;
}

.bpoutput {
    flex-grow: 1;
    font-family: monospace;
    color: #333;
    padding: 8px 0 8px 8px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #A7D7F2 0, #E8F7FF 100%);
    border-color: #175E87;

    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #eee;
    height: 39px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
}

.button {
    margin-left: -1px;
    background-image: linear-gradient(to bottom, #A7D7F2 0, #E8F7FF 100%);
    border-color: #175E87;
    border-width: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    text-shadow: 0 1px 0 #fff;
}

.button:hover {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}

.button:active{
    background-position: 0 -10px;
}
