.image {
    height: 100%;
    min-height: 100vh;
    background-image: radial-gradient(ellipse at bottom, rgba(63, 132, 40, 0.7) 0%, rgba(3, 6, 23, 0.7) 100%),
        url("https://images.igdb.com/igdb/image/upload/t_original/sc8pbr.jpg");
    background-size: cover;
}
