.reward {
    background-color: rgba(3, 6, 23, 0.7);
    width: 300px;
    padding: 12px;
    color: #d2d2d2;
    line-height: 1.8rem;
    text-align: center;
    font-family: monospace;
    font-size: 2em;
}
